body {
    width: 1020px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', serif;
}
.hamburger-menu {
    display: none;
}
.wrapper {
    width: 946px;
    margin: 0 auto;
    position: relative;
}

.wrapper2 {
    width: 940px;
}

.header {
    padding-top: 29px;
    padding-bottom: 16px;
    background-color: #2d303a;
    box-shadow: 0px 8px 0px #323746;
}

.header-block {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 0;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 0.3px;
    color: white;
    transform: scale(0.95, 1.0);
}

.logo>span {
    color: #dc655f;
}

.navigation {
    padding-right: 3px;
    margin-top: 9px;
    display: flex;
    list-style-type: none;
}

.navigation>li {}

.navigation>li>span {
    padding: 0 13.5px;
    font-family: 'Lato';
    font-weight: 400;
    color: #494e62;
}

.navigation>li>a {
    text-decoration: none;
    letter-spacing: -0.4px;
    font-size: 12px;
    font-family: 'Lato';
    font-weight: 700;
    color: white;
    transform: scale(0.95, 1.0);
}

.navigation>li>a:hover {
    color: #dc655f;
}

.slider {
    margin: 0 auto;
    margin-top: 6px;
    width: 1020px;
    position: relative;
    /* background-color: #f06c64;
    box-shadow: 0 7px 0 #ea676b; */
}

.slider-block {
    width: 1020px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slider-block__img {
    width: 1020px;
    height: 600px;
    position: absolute;
    transition: all ease 1s;
    top: 0;
}

.arrow {
    background-image: url(assets/images/arrow.svg);
    width: 17px;
    height: 27px;
    background-repeat: no-repeat;
    margin-top: 228px;
}

.arrow_active {
    position: absolute;
    margin-top: 0px;
    top: 281px
}

.arrow:hover {
    background-image: url(assets/images/arrow-focus.svg.png);
    cursor: pointer;
}

.arrow_right {
    transform: rotate(180deg);
    right: 40px;
}

.arrow_left {
    left: 40px;
}

.phone-vertical {
    /* background-image: url(./assets/images/iPhone\ Vertical\ Black.png); */
    width: 240px;
    height: 483px;
    position: absolute;
    top: 54px;
    left: 113px;
    opacity: 0;
}

.phone-horizontal {
    top: 177px;
    right: 112px;
    width: 483px;
    height: 240px;
    position: absolute;
    opacity: 0;
}

.vertical-dispaly-block {
    width: 188px;
    height: 333px;
    background-color: black;
    margin: 65px 0px 0 13px;
}

.horizontal-dispaly-block {
    width: 333px;
    height: 188px;
    background-color: black;
    margin: 14px 0px 0 60px;
}

.Services {
    background-color: #f2f2f2;
    /* margin-top: 6px; */
    padding-bottom: 33px;
    box-shadow: 0 7px 0 #ffffff;
}

.Services-block {
    padding-top: 59px;
    padding-left: 3px;
}

.Services-block__title {
    font-size: 30px;
    margin: 0;
    font-family: 'Lato';
    font-weight: 900;
    color: #666d89;
    letter-spacing: -0.1px;
}

.Services-block__description {
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 100;
    line-height: 1.7;
    margin-top: 18px;
    padding-right: 2px;
}

.layout-3-column {
    columns: 3;
    padding-top: 25px;
    column-gap: 16px;
}

.layout-3-column_about {
    column-gap: 20px;
}

.service {
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
}

.service__icon {
    margin-top: 4px;
    padding-left: 1px;
}

.service__icon>img {
    top: 25%;
    left: 25%;
}

.service-text-block {
    width: 220px;
    padding-right: 3px;
}

.service-text-block__title {
    margin: 0;
    font-family: 'Lato';
    font-weight: 900;
    color: #666d89;
    letter-spacing: -0.55px;
}

.service-text-block__description {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 12px;
    margin-top: 8px;
    letter-spacing: -0.1px;
    line-height: 1.8;
    /* white-space: pre-wrap; */
    color: #767e9e;
}

h2 {
    font-size: 30px;
    font-weight: 900;
}

.portfolio {
    background-color: #2d303a;
    padding-bottom: 56px;
    box-shadow: 0 7px 0 #323746;
}

.portfolio__title {
    margin-top: 5px;
    padding-top: 59px;
    margin-bottom: 22px;
    color: #666d89;
    letter-spacing: -0.2px;
}

.portfolio__description {
    font-size: 18px;
    letter-spacing: -0.22px;
    color: #666d89;
    margin-bottom: 14px;
}

.filter {
    padding-left: 1px;
}

.filter-item {
    border: 1px solid #767e9e;
    border-radius: 5px;
    font-size: 12px;
    color: #767e9e;
    padding: 2px 6px 3px 6px;
    margin-right: 7px;
}

.filter-item:hover {
    cursor: pointer;
    color: #dedede;
    border: 1px solid #dedede;
}

.layout-4-column {
    padding-top: 13px;
    columns: 4;
    column-gap: 20px;
}

.portfolio-item {
    padding: 10px 10px 10px 0px;
    width: 220px;
    height: 187px;
}

.portfolio-item__image {
    cursor: pointer;
}

.about {
    margin-top: 7px;
    background-color: #f2f2f2;
    box-shadow: 0 7px 0 #ffffff;
    padding-bottom: 65px;
}

.portfolio__title_about {
    padding-top: 59px;
    margin-bottom: 0px;
}

.portfolio__description_about {
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #767e9e;
    padding-bottom: 6px;
    font-weight: 100;
}

.author__title {
    margin-top: 12px;
    margin-bottom: 0px;
    letter-spacing: -0.6px;
    font-weight: 900;
    margin-left: -1px;
    color: #666d89;
    height: 22px;
    overflow: hidden;
}

.author__description {
    margin-top: 8px;
    font-size: 12px;
    width: 301px;
    letter-spacing: -0.07px;
    line-height: 21px;
    color: #767e9e;
}

.icons {
    padding-top: 12px;
}

.icons-item {
    padding-right: 5px;
}

.icons-item_rigth {
    padding-right: 0px;
    margin-left: 5px;
}

.icons-item :hover {
    cursor: pointer;
    filter: saturate(10);
}

.qoute {
    background-color: #f06c64;
    margin-top: 5px;
    padding-bottom: 22px;
    box-shadow: 0 7px 0 #ea676b;
}

.qoute__title {
    padding-top: 59px;
    margin: 0;
    margin-bottom: 18px;
    color: #f0d8d9;
    letter-spacing: -0.2px;
}

.qoute__description {
    color: #f0d8d9;
    font-size: 18px;
    letter-spacing: 0.15px;
    line-height: 30px;
    margin: 0;
    font-weight: 100;
}

.contact-section {
    padding-top: 44px;
    display: flex;
    justify-content: space-between;
}

.contact-form {
    width: 700px;
}

.contact-section__input {
    width: 604px;
    background-color: #d6564f;
    color: #f48c8f;
    font-size: 12px;
    border: none;
    height: 38px;
    margin-bottom: 16px;
    padding: 0px 0 0 15px;
    border-radius: 5px;
}

.contact-section__input::-webkit-input-placeholder {
    font-family: 'Lato', serif;
    color: #f48c8f;
}

.contact-section__input_big {
    padding-bottom: 167px;
    height: 35px;
}

.contact-information {
    width: 328px;
    color: #f0d8d9;
}

.contact-information__title {
    margin-top: -2px;
    margin-bottom: 7px;
    letter-spacing: -0.25px;
    font-weight: 700;
}

.contact-information__description {
    margin: 0;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.05px;
}

.contact-block {
    font-size: 12px;
    line-height: 21.5px;
    letter-spacing: -0.05px;
    margin-top: 21px;
}

.contact-block a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: #f0d8d9;
    padding-left: 23px;
    position: relative;
}

.contact-block a:hover {
    color: black;
}

.contact-block__location::before {
    content: url(assets/images/location-icon.png);
    top: 1px;
    left: 3px;
    position: absolute;
}

.contact-block__phone::before {
    content: url(assets/images/phone-icon.png);
    top: 1px;
    left: 1px;
    position: absolute;
}

.contact-block__email::before {
    content: url(assets/images/mail-icon.png);
    top: 1px;
    left: 0px;
    position: absolute;
}

.submit-button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 0;
    padding: 12px 49px;
    background-color: #FBC65F;
    color: #886A30;
    font-size: 14px;
}

.footer {
    background-color: #2d303a;
    padding-bottom: 20px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    padding-top: 10px;
}

.copyright {
    padding-top: 8px;
    padding-left: 2px;
}

.copyright__item {
    color: #666d89;
    font-size: 12px;
    letter-spacing: -0.2px;
}

@media screen and (max-width: 768px) {
    body {
        width: 768px;
    }
    .header {
        padding-bottom: 19px;
    }
    .logo {
        margin-left: -4px;
    }
    .navigation {
        margin-top: 7px;
    }
    .slider {
        margin: 0 auto;
        margin-top: 6px;
        width: 768px;
    }
    .phone-vertical {
        width: 181px;
        height: 364px;
        top: 40px;
        left: 84px;
    }

    .vertical-dispaly-block {
        width: 143px;
        height: 253px;
        background-color: black;
        margin: 48px 0px 0 10px;
    }

    .phone-horizontal {
        top: 133px;
        right: 84px;
        width: 364px;
        height: 181px;
    }

    .horizontal-dispaly-block {
        width: 251px;
        height: 143px;
        background-color: black;
        margin: 10px 0px 0 45px;
    }
    .slider-block {
        width: 768px;
        height: 451.76px;
    }
    .slider-block__img {
        width: 768px;
        height: 451.76px;
    }
    .wrapper {
        width: 687px;
    }
    .layout-3-column {
        columns: 2;
        padding-top: 17px;
        padding-right: 31px;
        column-gap: 49px;
    }
    .arrow_active {
        top: 214px;
    }
    .arrow_left {
        left: 30px;
    }
    .arrow_right {
        right: 30px;
    }
    .Services-block {
        padding-top: 39px;
        padding-left: 0px;
    }
    .service {
        padding-bottom: 39px;
    }
    .Services {
        padding-bottom: 20px;
    }
    .portfolio__title {
        margin-bottom: 19px;
    }
    .portfolio__description {
        letter-spacing: 0;
        margin-bottom: 10px;
        width: 652px;
        line-height: 30px;
    }
    .layout-4-column {
        padding-top: 23px;
        columns: 3;
        column-gap: 20px;
    }
    .portfolio-item__image {
        width: 215px;
    }
    .portfolio-item {
        height: 183px;
    }
    .portfolio__title_about {
        padding-top: 55px;
        margin-bottom: 0px;
    }
    .layout-3-column_about {
        columns: 3;
        padding-top: 23px;
    }
    .author>img {
        width: 219px;
    }
    .portfolio__description_about {
        margin-top: 15px;
    }
    .author__title {
        margin-top: 8px;
    }
    .author__description {
        margin-top: 0px;
        width: 219px;
    }
    .icons {
        padding-top: 0px;
    }
    .about {
        padding-bottom: 68px;
    }
    .qoute__title {
        padding-top: 53px;
    }
    .contact-section__input {
        width: 431px;
        margin-bottom: 12px;
        padding: 0px 0 0 8px;
    }
    .contact-section {
        padding-top: 25px;
    }
    .contact-section__input_big {
        padding-bottom: 124px;
    }
    .contact-information__title {
        margin-bottom: 0px;
    }
    .contact-block {
        margin-top: 12px;
    }
    .submit-button {
        margin-top: 5px;
        margin-left: 0;
        padding: 12px 49px;
        background-color: #FBC65F;
        ;
        color: #886A30;
        font-size: 14px;
    }
    .qoute {
        padding-bottom: 37px
    }
    .copyright {
        padding-top: 9px;
        padding-left: 0px;
    }
    .copyright__item {
        letter-spacing: 0.5px;
    }
    .icons_footer {
        padding-top: 12px;
    }
}

@media screen and (max-width: 375px) {
    body {
        width: 375px;
    }

    .hamburger-menu {
        display: block;
    }
    .wrapper {
        width: 315px;
    }

    .phone-vertical {
        width: 89px;
        height: 178px;
        top: 20px;
        left: 41px;
    }

    .vertical-dispaly-block {
        width: 70px;
        height: 124px;
        background-color: black;
        margin: 23px 0px 0 5px;
    }

    .phone-horizontal {
        top: 65px;
        right: 42px;
        width: 178px;
        height: 89px;
    }

    .horizontal-dispaly-block {
        width: 124px;
        height: 70px;
        background-color: black;
        margin: 5px 0px 0 22px;
    }
    .slider {
        margin: 0 auto;
        margin-top: 6px;
        width: 375px;
    }
    .slider-block {
        width: 375px;
        height: 221px;
    }
    .slider-block__img {
        width: 375px;
        height: 221px;
    }
    .portfolio__description {
        width: 375px;
    }

    
    .contact-section__input {
        width: 212px;
    }
    .layout-4-column {
        columns: 2
    }
    
    .header__navigation {
        display: none;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: -8;
        transform: rotate(90);
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 8px;
        transform: rotate(0deg);
    }
    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
        padding-top: 219px;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 23px;
        left: 20px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 2;
    }
    .menu__btn>span, .menu__btn>span::before, .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;;
        transition-duration: .25s;
    }
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 278px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #2D303A;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        z-index: 1;
    }
    .menu__item {
        display: block;
        padding: 14px 69px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .navigation>li>a {
        font-size: 24px;
    }


    .header {
        padding-top: 24px;
        padding-bottom: 17px;
    }
    .logo {
        margin: 0 auto;
        font-size: 20px;
        padding-left: 11px;
    }
    .arrow_active {
        top: 96px;
    }
    .arrow_right {
        right: 9px;
    }
    .arrow_left {
        left: 9px;
    }
    .Services-block {
        padding-top: 25px;
    }
    .wrapper_services {
        width: 311px;
    }

    .Services-block__description{
        text-align: start;
        
    }
    .service-text-block__description {
        line-height: 23px;
    }
    
    .layout-3-column {
        columns: 1;
        padding-top: 7px;
        padding-right: 8px;
    }

    .service {
        padding-bottom: 9px;
    }

    .Services {
        padding-bottom: 0px;
        margin-top: -19px;
    }

    .portfolio__title {
        margin-top: -2px;
    }

    .portfolio__title {
        padding-top: 41px;
    }

    .portfolio__title_about {
        padding-top: 33px;
    }

    .portfolio__description {
        width: 316px;
        margin-bottom: 15px;
        text-align: start;
    }

    .layout-4-column {
        padding-top: 19px;
        column-gap: 13px;
    }

    .portfolio-item__image {
        width: 151px;
    }

    .portfolio-item {
        width: 151px;
        height: 122px;
    }

    .portfolio {
        height: 783px;
    }

    .portfolio__description_about {
        margin-top: 18px;
        width: 309px;
        text-align: start;
        margin-bottom: -21px;
    }

    .author>img {
        padding-top: 32px;
        width: 314px;
    }

    .author__title {
        margin-top: 14px;
    }

    .author__description {
        width: 315px;
    }
    .about {
        padding-bottom: 39px;
    }
    .qoute__title {
        padding-top: 44px;
    }

    .contact-section {
        padding-top: 22px;
        display: block;
    }

    .contact-section__input {
        width: 307px;
        display: block;
    }

    .submit-button {
        margin-top: 2px;
        padding: 17px 138px;
    }
    .contact-information__title {
        margin-top: 31px;
    }

    .contact-information__description {
        width: 317px;
    }
    .contact-block {
        margin-top: 11px;
        line-height: 24.5px;
    }
    .qoute {
        padding-bottom: 35px;
    }
    .contact-form {
        width: 320px;
    }
    .copyright {
        display: none;
    }
    .icons_footer {
        margin: 0 auto;
    }

    .logo_humburger{
        position: absolute;
        z-index: 1;
        top: 24px;
        left: 57px;
    }
}